img{
    border-radius:100px;
    box-shadow: 0 0 60px 30px
    rgba(40, 255, 24, 0.8);
    border: solid;
    border-color:rgb(29, 253, 4);
}
body{
    background-image: url(memberBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: rgb(248, 246, 246);

}
h3{
    color: rgb(248, 246, 246);
    
}
h4{
    color: rgb(248, 246, 246);
    font-size: larger;
}
h2{
    color: rgb(248, 246, 246);
}
img{
    border-radius:100px 100px 100px 100px ;
}
a{
    color: rgb(248, 246, 246);}